@mixin responsive($screenWidth){

  @media(max-width:$screenWidth){
    @content;
  }

}
// para uma texto dentro da tag a que vai ser uma botão
// ficar centralizado o heigth tem que ter a mesma altura do line-height

@mixin style-btn($heigth, $bg, $colorText){
  display: inline-block;
  height: $heigth;
  line-height: $heigth;
  background-color: $bg;
  border-radius: 0.6rem;
  padding: 0 5rem;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .3s ;
  &:hover{
    background-color: $colorText;
    color: $bg;
  }

}
